<% content_for(:title, @channels.page_title) %>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= t(:channel, count: @channels.count) %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <% @channels.each do |channel| %>
          <%= render partial: "channels/item/list_item", locals: { channel: channel } %>
        <% end %>
      </div>
      <div class="row">
        <%= paginate @channels, params: { term: params[:term] } %>
      </div>
    </div>
  </div>
</div>

