<a class="col-xs-12 channel-episode" href="<%= channel_episode_path(episode.channel, episode) %>">
  <h4><%= episode.title %></h4>
  <p><%= html_clean(episode.summary) %></p>
  <h5 class="channel-episode__duration"><%= format_duration(episode.audio.duration) %> </h5>
</a>
