<div class="feedcast-player"
  data-media-url="<%= episode.audio.url %>"
  data-download-url="<%= episode.audio.url %>"
  data-next-episode="<%= episode_path(next_episode.channel, next_episode) unless next_episode.nil? %>"></div>
