<div class="col-xs-12 panel panel-default">
  <div class="panel-body">
    <h4 class="title-gallery">Podcasts para você ouvir</h4>
    <div class="row">
      <% @episodes.each do |episode| %>
        <div class="podcast col-xs-6 col-sm-3 col-md-2">
          <a href="<%= episode_path(episode.channel, episode) %>">
            <div class="podcast-img img-rounded"
              style="background-image: url(<%= image_url_for(episode.channel) %>)"></div>
            <h3><%= episode.title %></h3>
            <h5 class="duration">--:--:--</h5>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

