<div class="row panel panel-default">
	<div class="panel-heading">
	  <h3><%= @episode.title %></h3>
	</div>
	<div class="panel-body">
	  <p><%= @episode.summary %></p>
	  <audio class="player-podcast" controls="controls">
	    <source src="<%= @episode.url %>" type="audio/mpeg"/>
	  </audio>
	</div>
</div>