<div class="container">
  <div class="col-xs-12 panel panel-default">
    <div class="panel-body">
      <h1 class="error-title">
        <i class="fa fa-warning"></i>
        <span>404</span>
      </h1>
      <p class="error-message">
        <%= t(:"errors.not_found") %>
      </p>
    </div>
  </div>

</div>
