<div class="channel-top__navbar-left panel">
  <div class="panel-body">
    <div class="channel-top__image" style="background-image: url(<%= image_url_for(channel) %>)"></div>
  </div>
  <div class="panel-footer">
    <a href="<%= channel_path(channel) %>" alt="<%= t(:access_website) %>">
      <h4 class="footer-channel-card"><%= channel.title %></h4>
    </a>
  </div>
</div>
