<div class="col-xs-12 col-sm-5 col-md-4">
  <div class="panel panel-default fc-episode-channel">
    <a href="<%= channel_path(episode.channel) %>">
    <div class="panel-body">
        <div style="height: 300px; width: 100%; background-image:url(<%= image_url_for(episode.channel) %>); background-size: cover; background-position: center"></div>
    </div>
    <div class="panel-footer">
      <%= t(:"channel.go_to") %> <b><%= episode.channel.title %></b>
    </div>
  </div>
  </a>
</div>
