<footer class="fc-footer">
  <div class="container">
    <ul class="fc-footer__links">
      <li><a href="https://github.com/feedcast" target="_blank">
        <i class="fa fa-github"></i>
      </a></li>
      <li><a href="https://twitter.com/feedcast_" target="_blank">
        <i class="fa fa-twitter"></i>
      </a></li>
      <li><a href="https://facebook.com/feedcast" target="_blank">
        <i class="fa fa-facebook"></i>
      </a></li>
    </ul>
    <p>Designed and built with all the ♥ by the <a href="https://github.com/orgs/feedcast/people" target="_blank">feedcast team</a>.</p>
    <p>Code licensed under <a href="https://github.com/feedcast/core/blob/master/LICENSE" target="_blank" rel="license">Apache 2.0</a>.</p>
  </div>
</footer>
