<div id="navbar-search">
  <%= form_tag(search_path, method: "get", class: "navbar-form navbar-left", id: "search-form") do %>
    <div class="form-group search-form">
      <%= text_field_tag(:term, params[:term], { id: "search-input", class: "form-control", placeholder: t(:search) }) %>
      <button class="btn btn-default" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  <% end %>
</div>
