<nav class="navbar navbar-default" id="subnav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a class="subnav-link" href="<%= channels_path %>"><i class="fa fa-rss"></i> <%= t(:new_channels) %></a></li>
      <li><a class="subnav-link" href="<%= episodes_path %>"><i class="fa fa-history"></i> <%= t(:new_episodes) %></a></li>
    </ul>
  </div>
</nav>
