<nav class="navbar navbar-default" id="navbar-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to((render partial: "layouts/navbar/logo"), root_path, class: "navbar-brand", id: "navbar-logo") %>
    </div>
  </div>
</nav>
<%= render partial: "layouts/navbar/subnav" %>
